* {

  border: none;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #AAAAAA;
}
.wrapper {
  max-width: 70em;
  background-color: #EEEEEE;
  padding: 10%;
  padding-top: 0;
  /*padding-top: 2em;
  padding-bottom: 4em;*/
}
.wrapper p {
  margin: 1em;

}
.header {

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  width: 100%;
}
.header h1 {
  /*
  padding-left: 10%;
*/
  text-align: center;
}
.fakeheader {

  position: static;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin-bottom: 0em;
}
.fakeheader h1 {
  /*
  padding-left: 10%;
*/
  text-align: center;
  visibility: hidden;
}
.header a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: black;
}
.header a:hover {
  color: #a52a2a;
}

.header a:active {
  color: #ffe300;
}
img {
  max-width: 100%;
  height: inherit;
  /*margin-top: 3em;
  margin-bottom: 0em;*/
}
h1 {
  font-family: 'Muli', sans-serif;
  font-size: 3em;
  /*margin: 3em;
  margin-top: 0em;
  margin-bottom: 0.5em;*/
}
h2 {
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;

  margin-top: 3em;
  margin-bottom: 2em;
  /*margin-bottom: 1em;
  margin-left: 6em;
  margin-right: 6em;*/
}
h3 {
  font-family: 'Muli', sans-serif;
  font-size: 1em;

  margin-top: 1em;
  margin-bottom: 0.5em;
  /*
  margin-bottom: 1em;
  margin-left: 6em;
  margin-right: 6em;*/
}
h4 {
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  /*margin-bottom: 1em;
  margin-left: 6em;
  margin-right: 6em;*/
}
p {
  font-size: 1em;
  /*margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 2em;*/
}
li {
  /*margin-bottom: 0.3em;*/
}
.nav {
  /*margin-bottom: 0.5em;
*/
  padding-left: 10%;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: white;
  /*margin-right: 6em;*/
}
.nav a {
  color: black;
}
.nav a:hover {
  font-weight: bold;
}
ul {
  /*margin-bottom: 0.5em;

  margin-left: 6em;
  margin-right: 6em;*/
}
.command {
  font-family: 'Ubuntu Mono', sans-serif;
  margin-left: 8em;
  background-color: #CCCCCC;
  padding: 1em;
}
